$grey-color-50: #F9FAFB;
$grey-color-100: #F3F4F6;
$grey-color-200: #E5E7EB;
$grey-color-300: #D1D5DB;
$grey-color-400: #9CA3AF;
$grey-color-500: #6B7280;
$grey-color-600: #4B5563;
$grey-color-700: #374151;
$grey-color-800: #1F2937;
$grey-color-900: #111827;
$primary-color-50: #F0F5FF;
$primary-color-100: #DCE9FE;
$primary-color-200: #BED7FE;
$primary-color-300: #91BCFD;
$primary-color-400: #5F9DFB;
$primary-color-500: #3784FB;
$primary-color-600: #146FFA;
$primary-color-700: #0562F0;
$primary-color-800: #0451C8;
$primary-color-900: #0441A0;
$additional-colors-white: #FFFFFF;
$additional-colors-dark-blue: #022964;
$additional-colors-green: #5FD788;
$additional-colors-orange: #FF8C39;
$additional-colors-pink: #EC6890;
$additional-colors-purple: #B523FA;
$additional-colors-yellow: #FBAE05;