body {
   
}

* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    background: #1F2937;
}

.header--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}