.sec-boxes {
    height: 478px;
    display: flex;
    align-items: center;
    justify-content: center;

    .categories {
        width: 274px;
        height: 274px;
        background: $grey-color-700;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 0px 20px;

        &:hover {
            background-color: $additional-colors-green;
            cursor: pointer;

            & li :hover {
                color: $additional-colors-white;
            }
        }

        & svg {
            width: 102px;
            height: 101px;
            margin-top: 67px;
            margin-left: 50px;
            color: $additional-colors-white;
        }

        & li .a-usual {
            display: flex;
            align-items: center;
            margin-top: 17px;
            margin-left: 53px;
            width: 274px;
            height: 20px;
            font-family: 'M PLUS Rounded 1c';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: $additional-colors-green;
        }

        & li .a-unusual {
            display: flex;
            align-items: center;
            margin-top: 17px;
            margin-left: 73px;
            width: 274px;
            height: 20px;
            font-family: 'M PLUS Rounded 1c';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            color: $additional-colors-green;
        }
    }
}