.sec-pearkiwi {
    background-image: url("data:image/svg+xml,%3Csvg width='775' height='801' viewBox='0 0 775 801' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M109.01 649.842C-281.638 203.861 486.238 -204.683 716.061 -434.506C945.885 -664.33 1318.5 -664.33 1548.33 -434.507C1778.15 -204.683 1778.15 167.935 1548.33 397.758C1318.5 627.582 539.284 1015.77 109.01 649.842Z' fill='%235FD788'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    height: 952px;
    display: flex;
    align-items: center;
    justify-content: center;

    .pear-kiwi h2 {
        width: 500px;
        height: 164px;
        font-family: 'M PLUS Rounded 1c';
        font-style: normal;
        font-weight: 500;
        font-size: 96px;
        line-height: 89.84%;
        color: $additional-colors-green;
        margin-left: 100px;
        margin-bottom: 38px;
        }

    & p {
            width: 367px;
            height: 62px;
            font-family: 'M PLUS Rounded 1c';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: $grey-color-400;
            margin-left: 100px;
    }
}